
.outerButtonStyles {
	--grid: '8px';
	/**
	 * Without this Safari renders white text on drag.
	 */
	color: 'black';

	border: 0;
	width: 100%;
	min-height: 24px;
	align-items: center;
	margin: 2px 0;
	padding: 0;
	border-radius: 3;
	cursor: 'pointer';
	display: flex;
	border-radius: 3;
	cursor: 'pointer';
	border: 1px solid rgba(0, 0, 0, 0.105);
}

.outerButtonStyles:hover {
    background: rgba(9, 30, 66, 0.215);
}

.outerHoverStyles {

	.outerButtonStyles.menuHidden{
		color: rgb(109, 109, 109);
		background-color: rgba(59, 59, 59, 0.089);
		border: 1px solid rgba(53, 53, 53, 0.037);
		
		i {
			color: rgb(109, 109, 109);
		}
	
		& svg{
			fill: rgb(109, 109, 109);
			clip-path: none;
		}

	}
	&:has(> .outerButtonStyles.menuHidden){

		+div .outerButtonStyles{
			color: rgb(109, 109, 109) !important;
		background-color: rgba(59, 59, 59, 0.089)!important;
		border: 1px solid rgba(53, 53, 53, 0.037)!important;
		}
	}

}



.innerDraggingStyles{
	opacity: 0.4,
}

.innerButtonStyles{
	padding: var(--grid);
	padding-right: 40;
	align-items: center;
	display: flex;
	flex-direction: row;

	/* background: rgba(23, 25, 27, 0.06); */
	border-radius: 3,
}



.labelStyles{
	flex-grow: 1;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}



.previewStyles {
	--grid: '8px';
	background: red;
	padding: 'var(--grid)';
	border-radius: 3,
}



.parentOfInstructionStyles{
	background: 'transparent';
}

.treeContainer {
	display: flex;
	width: 100%;

	/* padding: 1px; */
	margin: 0 2rem;
	flex-direction: column;
	/* background: var(--ds-surface-sunken, #F7F8F9); */
}

.wrapper {
	display: flex;
	justify-content: center;
	padding: 24px;
}

.btn-group{
	display: flex; 
	margin-left: auto;
	margin-right: .75rem;
	gap: 4px
}
.btn{
	outline-color: transparent;
	outline: none;
	background-color: transparent;
}

.btn:hover{
	background-color: rgba(108, 108, 108, 0.247);
}

.btn:active:focus:target, .btn:focus:target, .btn:active:focus, .btn:focus{
	background-color: rgba(36, 16, 81, 0.169);
}