
.outerButtonStyles {
	--grid: '8px';
	/**
	 * Without this Safari renders white text on drag.
	 */
	color: 'black';

	border: 0;
	width: 100%;
	min-height: 24px;
	align-items: center;
	margin: 2px 0;
	padding: 0;
	border-radius: 3;
	cursor: 'pointer';
	display: flex;
}

.outerHoverStyles{
	border-radius: 3;
	cursor: 'pointer';
	
	
}

.outerHoverStyles:hover {
    background: rgba(9, 30, 66, 0.06);
}

.innerDraggingStyles{
	opacity: 0.4,
}

.innerButtonStyles{
	padding: var(--grid);
	padding-right: 40;
	align-items: center;
	display: flex;
	flex-direction: row;

	background: rgba(23, 25, 27, 0.06);
	border-radius: 3,
}



.labelStyles{
	flex-grow: 1;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}



.previewStyles {
	--grid: '8px';
	background: red;
	padding: 'var(--grid)';
	border-radius: 3,
}



.parentOfInstructionStyles{
	background: 'transparent';
}

.treeContainer {
	display: flex;
	width: 100%;

	/* padding: 1px; */
	margin: 0 2rem;
	flex-direction: column;
	/* background: var(--ds-surface-sunken, #F7F8F9); */
}

.wrapper {
	display: flex;
	justify-content: center;
	padding: 24px;
}